.diff-ui-taskItemWidget {
	position: relative;
	margin: 1em 0;
	padding: 1em;
	background-color: #eee;
	-webkit-box-shadow: 0 10px 6px -6px #ddd;
	-moz-box-shadow: 0 10px 6px -6px #ddd;
	box-shadow: 0 10px 6px -6px #ddd;

	&-handle {
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 100%;
		background-color: #333;
	}

	&-icon {
		margin-left: 10px;
	}

	&-completed {
		border: 1px solid #eee;
		background-color: #f7f7f7;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		.diff-ui-taskItemWidget-wrap {
			opacity: 0.6;
			text-decoration: line-through;
		}
	}

	&-starButton,
	&-removeButton,
	&-toggleButton {
		float: right;
	}

	&-wrap {
		// Icon width + icon margin + small margin
		margin-left: calc( 1.875em ~"+" 10px ~"+" 0.5em );
		// margin-left: ~"calc( 1.875em + 10px + 0.5em )";
		width: 70%;
		&-title {
			display: block;
			font-weight: bold;
			margin-bottom: 0.5em;
		}

		&-content {
			display: block;
		}
	}
}
